//
// Colors
//

.bg-primary {
  background: #ff6f00 !important;
}

.bg-secondary {
  background: #fdefe6 !important;
}

.text-primary {
  color: #ff6f00 !important;
}

.text-color {
  color: #585757;
}

.text-dark {
  color: #000000 !important;
}

.font-secondary {
  font-family: "hanskendrick" !important;
}

.border-primary {
  border-color: #ababab !important;
}



::-moz-selection {
  background: #ff8c33;
  color: #fff;
}

::selection {
  background: #ff8c33;
  color: #fff;
}
