//
// Styles
//


.scrollup {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f3955e;
    text-align: center;
    line-height: 60px;
    padding: 10px;
    color: #fff;
    z-index: 100;
    display: none;
    border-radius: 50%;
}

/*  typography */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700");
@font-face {
  font-family: 'hanskendrick';
  src: url("../../plugins/fonts/hanskendrick-regular-webfont.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #585757;
  background-color: #fff;
  overflow-x: hidden;
}


p, .paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: "hanskendrick";
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 55px;
  }
}

h2, .h2 {
  font-size: 50px;
}

@media (max-width: 767px) {
  h2, .h2 {
    font-size: 45px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 30px;
}

h5, .h5 {
  font-size: 20px;
}

h6, .h6 {
  font-size: 16px;
}




.mt-10 {
  margin-top: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}



ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}



.section {
  padding-top: 20px;
  padding-bottom: 60px;
}

.section-lg {
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-sm {
  padding-top: 10px;
  padding-bottom: 30px;
}

.section-title {
  margin-bottom: 30px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}



.content img {
  width: 100%;
}


.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}





.search-icon {
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card-img-overlay::before {
  position: absolute;
  content: "";
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card-content {
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.title-border {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.title-border::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  background: #ababab;
}

.title-border-lg {
  position: relative;
}

.title-border-lg::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 300px;
//  left: -45px;
  bottom: -50px;
  background: #ababab;
}

@media (max-width: 575px) {
  .pagination {
    overflow: auto;
    white-space: nowrap;
  }
  .pagination::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.pagination .page-item .page-link {
  font-family: "hanskendrick";
  font-size: 30px;
  border: 0;
  color: #585757;
}

@media (max-width: 767px) {
  .pagination .page-item .page-link {
    font-size: 16px;
  }
}

.pagination .page-item .page-link:hover {
  color: #000000;
  background-color: transparent;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  font-size: 16px;
}

.pagination .page-item.active .page-link {
  color: #000000;
  text-decoration: underline;
  background: transparent;
}
