//
// Body
//

body {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #585757;
    background-color: #fff;
    overflow-x: hidden;
}
