//
// Image
//


img {
  vertical-align: middle;
  border: 0;
}

.content img {
  width: 100%;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
