<section class="hero-section bg-secondary mb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6 align-self-end">

        <h1 class="notoc heading mb-0">
          {{page.title}}
        </h1>
        <h2 class="notoc mb-100 title-border-lg">
          <i>{{page.tagline}}</i>
        </h2>
        <p class="mb-80 mr-5" style="font-size: 18px">
          {{page.description}}
        </p>

        {% if site.social %}
        <h3 class="notoc">Follow</h3>
        <ul class="list-inline d-inline-block mb-5">
          {% for social in site.social %}
          <li class="list-inline-item mx-1">
            <a class="text-dark link-no-decoration" href="{{social.link}}" target="blank" rel="noopener" alt="Social Media" aria-label="Social Media">
              <i class="{{social.icon}}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="col-lg-6 text-right">
        <img class="img-fluid mt-4" src="/assets/images/parsa/masthead/banner-img.png" alt="banner-image">
      </div>
    </div>
  </div>
</section>
