<section class="hero-section bg-secondary mt-6 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-end">

        <h1 class="mb-0">{{page.title}}</h1>
        <h2 class="mb-100 title-border-lg"><i>{{page.tagline}}</i></h2>
        <p class="mb-80 mr-5" style="font-size: 18px">{{page.description}}</p>

        {% if site.social %}
        <!-- span class="font-secondary text-dark fw-bold mr-2" style="font-size: 24px;">Follow</span -->
        <h5>Follow</h5>
        <ul class="list-inline d-inline-block mb-5">
          {% for social in site.social %}
          <li class="list-inline-item mx-1">
            <a href="{{ social.link }}" class="text-dark link-no-decoration" target="blank" rel="noopener" alt="Social Media" aria-label="Social Media">
              <i class="{{ social.icon }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="col-lg-6 text-right">
        <img class="img-fluid mt-4" src="/assets/images/parsa/masthead/banner-img.png" alt="banner-image">
      </div>
    </div>
  </div>
</section>
