<!-- Featured posts -->

<!-- Title -->
<section id="featured-posts" class="section pt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Featured Posts</h2>
        <p class="h3 text-muted mb-0"><i>top articles</i></p>
        <div class="d-inline-block g-width-50 g-height-2 bg-primary mb-2"></div>
      </div>
    </div>
  </div>
</section>
<!-- /Title -->

<!-- Posts slider -->
<section>
  <div class="container-fluid p-sm-0">
    <div id="featured_post_slider" class="slider-parent"></div>
  </div>
</section>
<!-- /Posts slider -->

<!-- /Featured posts -->
