---
layout:                                 default
---

<article>
  <main id="main-content" class="r-text-300 js-toc-content">

    <!-- Portfolio title -->
    <div class="section-lg bg-secondary mt-6 mb-5">
      <div class="pl-3 ml-5">
        <h2 class="notoc">{{page.title}}</h2>
        <h3 class="notoc">{{page.tagline}}</h3>
      </div>
    </div>
    <!-- /Portfolio title -->

    <!-- Portfolio Content -->
    <section id="content" class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{content}}
          </div>
        </div>
      </div>
    </section>
    <!-- /Portfolio Content -->

  </main>
</article>
