//
// Colors
//

// Override Bootstrap color variables

$orange: #FF9800;

// Override Bootstrap state colors variables

$primary: $orange;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
