---
layout:                                 raw
---

<!-- page-content -->
<section class="section">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			{% if page.image %}
  			<img class="img-fluid w-100 mb-5" src="{{page.image | relative_url}}" alt="{{page.title}}">
  			{% endif %}

  			{{ content }}

  		</div>
  	</div>
  </div>
</section>

<!-- Scroll top button -->
<a href="" class="scrollup" aria-label="Scroll Up">
  <img src="/assets/images/parsa/icons/up.svg" alt="scroll-up">
</a>
<!-- /Scroll top button -->
