//
// Hero Section (Masterheader)
//

// overwrite J1 Styles if NO Masterheader (attic) is used for a layout
// see: _data/modules/attics.yml
.no-attic {
  display:  none;
}

.hero-section {
  padding-top: 3rem;

  .heading {
    font-size: 3.75rem;
    line-height: 4.75rem;
  }
  // disable J1 style
  .heading:after {
    display: none;
  }
  .subheading {
    font-size: 1.25rem;
  }
}
