<!-- Team-->
<section id="team" class="page-section elevated-z1">
  <div class="container">

    <div class="text-center mb-5">
    	<h2 class="text-uppercase mb-0">Team</h2>
    	<p class="h3 text-muted mb-0"><i>meet the professionals</i></p>
    	<div class="d-inline-block g-width-50 g-height-2 bg-primary mb-2"></div>
    </div>

    <div class="row">
      {% assign team = site.team | sort: 'name' | reverse %}
      {% for person in team %}
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ person.image | relative_url }}" alt="{{ person.name | escape }}" />
          <h3 class="mt-2">{{ person.name }}</h3>
          <p>{{ person.role }}</p>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="{{ person.name | escape }} Twitter Profile"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="{{ person.name | escape }} Facebook Profile"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="{{ person.name | escape }} LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
          eaque, laboriosam veritatis, quos non quis ad perspiciatis,
          totam corporis ea, alias ut unde.
        </p>
      </div>
    </div>

  </div>
</section>
